<% obj.each do |article| %>
	<div class="flex-row">
		<div class="col-sm-12">
			<div id="description-container" class="card col-sm-8 offset-sm-2 bg-light">
				<div class="card-title">
					<h4 class="article-title-list">
						<strong><%= link_to article.title, article_path(article) %></strong>
					</h4>
				</div>
				<div class="card-body card-body-style">
					<%= truncate(article.description, length: 100) %>
				</div>
				<div class="article-details">
					<small>
						 <%= "Created by: #{article.user.username}" if article.user %>
							<%= time_ago_in_words(article.created_at) %> ago, 
							Updated: <%= time_ago_in_words(article.updated_at) %> ago
					</small>
				</div>
				<div class="article-actions">
					<%= link_to "Edit article", edit_article_path(article), class: "btn btn-sm btn-primary" %>
					<%= link_to "Delete this article", article_path(article), class: "btn btn-sm btn-danger", method: :delete, data: {confirm: "Are you sure?"}%>
				</div>
			</div>
		</div>
	</div>
<% end %>