<h1 class="form-title">Create new category</h1>

<%= render 'shared/errors', obj: @category %>

<div class="flex-row">
	<div class="col-sm-12">

		<%= form_for(@category, :html => {class: "form-horizontal", role: "form"}) do |f| %>

			<div class="form-group row">
				<div class="control-label col-sm-2 offset-sm-1">
					<%= f.label :name %>
				</div>
				<div class="col-sm-8">
					<%= f.text_field :name, class: "form-control", placeholder: "Name of the category", autofocus: true %>
				</div>
			</div>

			<div id="btn-create" class="form-group">
				<div class="offset-sm-3">
					<%= f.submit class: "btn btn-danger btn-lg" %>
				</div>
			</div>

		<% end %>

		<div style="text-align: center;">
			[ <%= link_to "Cancel and return to Index page", categories_path %> ]
		</div>
	</div>
</div>